.colores{
    color: #44EBA3 ;
    color: #3DC2EB ;
    color: #3DEBDB;
    color: #4BEB70 ;
    color: #2B6C57 ;
    color: #011140 ;
    color: #FFD621 ;
    color: #8BEBE2 ;
    color: #F5EA98;

    color: #EB443D; /* Rojo */
color: #EB7D3D; /* Naranja */
color: #EBD43D; /* Amarillo */
color: #6A3DEB; /* Morado */
color: #3D4AEB; /* Azul oscuro */
color: #3DEBA8; /* Verde claro */
color: #EB3D8B; /* Rosa */
color: #3DEB44; /* Verde */
color: #EB3D3D; /* Rojo brillante */

}